.contact-jumbotron {
    background-image: url("../assessts/back2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .contact{
    background-color: transparent;
    font-size: 1.1em;
    background-image: url("../assessts/back2.jpg");
  }
  .font-details{
    font-size: 3em;
    font-weight: 500;
    color: #231d5af8;

}
.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}